* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.graph_div {
    margin-bottom: 20px;
    min-height:500px;
}

#crawler_status td {
    padding-right: 10px;
}

#crawler_status {
    margin: 20px;
    min-height: 50px;
    margin-bottom: 20px;
}

h2 {
    margin-left: 20px;
}

#crawler_statistics_div {
    margin: 20px;
}

#crawler_statistics {
    table-layout:fixed;
    border-collapse: collapse;
}

#crawler_statistics thead {
    position: sticky;
    top: 0px;
    background: white;
    box-shadow: inset 0 -1px 0 #ccc;
    z-index: 999;
}

#crawler_statistics th {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: left;
    padding: 10px 0;
}

#crawler_statistics th:first-child {
    writing-mode: unset;
    transform: unset;
    vertical-align: bottom;
    font-weight: normal;
    font-size: 12px;
}

#crawler_statistics th:first-child,
#crawler_statistics td:first-child {
    width: 100px;
    text-align: left;
    padding-left: 5px;
}

#crawler_statistics th,
#crawler_statistics td {
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#crawler_statistics td {
    height: 30px;
    text-align: center;
    background-color: white;
}

#crawler_statistics td:hover {
    filter: brightness(0.8);
}

#crawler_statistics tr:hover {
    filter: brightness(0.8);
}

#crawler_statistics .bold {
    font-weight: bold;
}

#crawler_statistics .error {
    background-color: #ff7e7e;
}

#crawler_statistics td.vertical {
    text-align: center;
    width: 50px;
    vertical-align: middle;
}

#crawler_statistics td.vertical span {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
}

#crawler_statistics td.left {
    text-align: left;
    padding-left:5px;
}

#crawler_statistics td.editable {
    cursor: pointer;
}

#crawler_statistics td {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
#crawler_statistics tr:first-child th,
#crawler_statistics tbody tr:first-child td {
    border-top: 0;
}
#crawler_statistics tr td:last-child,
#crawler_statistics tr th:last-child {
    border-right: 0;
}

#overlay {
    background: #e9e9e9;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: 9999;
}

#detail {
    display: none;
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    z-index: 10000;
    width: fit-content;
    height: fit-content;
    max-height:80%;
    max-width:80%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px 40px 20px 40px;
    opacity: 1;
}

#detail_close {
    float: right;
    width: 60px;
    height: 60px;
    border: 0 none;
    padding: 0;
    margin-top: -15px;
    margin-right: -25px;
    background: transparent;
    font-size: 30px;
    line-height: 30px;
    cursor:pointer;
}

#detail_close:hover {
    color: #FF4E4E;
}

#threshold_box {
    margin-top: 10px;
}

#threshold_title {
    margin-bottom:5px;
}

#threshold_min_value,
#threshold_max_value {
    width:65px;
    height:30px;
    text-align: center;
    font-size: 16px;
}

#source_name {
    font-weight:bold;
}

#save_threshold {
    width: 80px;
    height: 30px;
}

#detail_title, #results_title {
    display: block;
    font-weight: bold;
    font-size: 20px;
}

#detail_title {
    margin: 10px 0 20px;
}

#results_title {
    margin: 20px 0 10px;
}

#results_table {
    border-collapse: collapse;
}

#results_table tr:first-child {
    border-top: 0;
}

#results_table tr {
    border-top: 1px solid #ccc;
}

#results_table td {
    padding: 10px;
    border-right: 1px solid #ccc;
    min-width: 30px;
}

#results_table td:last-child {
    border-right: 0;
}

#results_table_box {
    overflow:auto;
    max-height: 500px;
}

.margin-left {
    margin-left: 15px;
}

#crawler_log_div {
    margin: 20px;
    max-width: 100%;
    max-height: 500px;
    overflow-y: auto;
}

#crawler_log {
    border-collapse: collapse;
    width:100%;
}

#crawler_log thead {
    box-shadow: inset 0 -1px 0 #ccc;
    position: sticky;
    top: 0px;
    background: white;
    z-index: 999;
}


#crawler_log tbody tr {
    background-color: white;
}

#crawler_log tbody tr:hover {
    filter: brightness(0.8);
}

#crawler_log th,
#log_level_select,
#log_thread_search,
#log_module_search,
#log_func_search,
#log_msg_search {
    height:30px;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
}

#crawler_log td {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#crawler_log th:nth-child(1),
#crawler_log td:nth-child(1) {
    width: 100px;
}

#log_level_select,
#crawler_log th:nth-child(2),
#crawler_log td:nth-child(2) {
    width: 80px;
}

#log_thread_search,
#log_module_search,
#log_func_search,
#crawler_log th:nth-child(3),
#crawler_log th:nth-child(4),
#crawler_log th:nth-child(5),
#crawler_log td:nth-child(3),
#crawler_log td:nth-child(4),
#crawler_log td:nth-child(5) {
    width: 100px;
}

#crawler_log th:nth-child(6)
#crawler_log td:nth-child(6) {
    width: 30px;
}

#log_msg_search {
    width:100%;
}

#crawler_log td:nth-child(7) {
    min-width: 280px;
    max-width: 1px;
}


#log_level_select,
#log_thread_search,
#log_module_search,
#log_func_search,
#log_msg_search {
    border: 0;
    background-color: white;
}

#crawler_log tbody tr.log_error {
    background-color: #ff7e7e;
}

#crawler_log tbody tr.log_warning {
    background-color: #ffb27e;
}

#crawler_log tbody tr.log_info {
    background-color: #7ec1ff;
}

.log_invisible_1,
.log_invisible_2,
.log_invisible_3,
.log_invisible_4,
.log_invisible_6 {
    display:none;
}

.date_row {
    font-size: 14px;
    font-weight: bold;
    position: sticky;
    top:0px;
    height: 31px;
    z-index: 1000;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    z-index: 99999;
    background-color: white;
}

#login * {
    width: 200px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
}